body {
  padding: 1%;
}

* {
	box-sizing: border-box;
}

.left, .right, .center {
	float: left;
	width: 33%;
	padding: 10px;
	height: 500px;
	text-align: center;
}

.left, .right {
	background-color: red;
	color: black;
}

.center {
	background-color: black;
	color: white;
}

.container:after {
	clear: both;
}